<div class="users-show-container">
  <div class="users-show-title">Portfolio</div>
  <div class="portfolio-container">
    <div class="users-show-image-container">
      <div class="users-show-image"><%= gravatar_for @user, size: 100 %></div>
    </div>
    <div class="users-show-info-container">
      <div class="users-show-name"><%=@user.name%></div>
      <div><%=@user.about_me%></div>
      <div><%=@user.profession%></div>
      <div><%=@user.skills%></div>
    </div>
  </div>
  <div class="toggle-bar">
    <div class="left-toggle">Activities & Rentals</div>
    <div class="right-toggle">Ratings</div>
    <%if current_user == @user%>
      <div class="create-activity-toggle">Create Activity</div>
    <%end%>
  </div>
  <!-- Activities card -->
  <%= render "layouts/activities_card", activities: @activities%>
  <!-- Ratings card -->
  <%= render "layouts/ratings_card", activities: @activities%>
</div>
