<%= form_for(@activity) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="type">
    <%= f.text_area :content, placeholder: "Is this dance ..." %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Describe your activity..." %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
