<%= form_for(@activity) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="type">
    <%= f.text_area :content, placeholder: "Dance, music, art ..." %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Describe your activity..." %>
  </div>
  <div class="adress1">
    <%= f.text_area :content, placeholder: "<Address Line 1"> %>
  </div>
  <div class="adress2">
    <%= f.text_area :content, placeholder: "<Address Line 2"> %>
  </div>
  <div class="city">
    <%= f.text_area :content, placeholder: "<City"> %>
  </div>
  <div class="State">
    <%= f.text_area :content, placeholder: "<State"> %>
  </div>
  <div class="Zip">
    <%= f.text_area :content, placeholder: "<Zip"> %>
  </div>



    </address>" %>
  </div>


  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
<% end %>
