<div class="create-activity-form-container">
  <h1>Create Your Activity</h1>
  <form class="create-activity-form-css" action="<%= activity_path(activity) %>" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
    <input type="hidden" name="_method" value="patch">
    <label>
      Activity Name
      <input class="" type="text" name="activity[activity_name]" value="<%=activity.activity_name%>">
    </label>

    <label>
      Description
      <textarea class="" name="activity[content]"><%=activity.content%></textarea>
    </label>

    <label>
      Additional Info
      <textarea class="" type="text" name="activity[additional_info]"><%=activity.additional_info%></textarea>
    </label>

    <!-- <label>
      Categories
      <select name="activity[category]">
        <option value="art">art</option>
        <option value="music">music</option>
        <option value="dance">dance</option>
      </select>
    </label> -->

    <label>
      Price
      <input class="" type="text" name="activity[cost]" value="<%=activity.cost%>">
    </label>

    <label>
      Address 1
      <input class="" type="text" name="activity[addressLN1]" value="<%=activity.addressLN1%>">
    </label>

    <label>
      Address 2
      <input class="" type="text" name="activity[addressLN2]" value="<%=activity.addressLN2%>">
    </label>

    <label>
      City
      <input class="" type="text" name="activity[city]" value="<%=activity.city%>">
    </label>

    <label>
      State
      <input class="" type="text" name="activity[state]" value="<%=activity.state%>">
    </label>

    <label>
      Zipcode
      <input class="" type="text" name="activity[zip]" value="<%=activity.zip%>">
    </label>

    <label>
      Start Date
      <input class="" type="datetime-local" name="activity[start_date]" value="<%=activity.start_date%>">
    </label>

    <label>
      End Date
      <input class="" type="datetime-local" name="activity[end_date]" value="<%=activity.end_date%>">
    </label>

    <label>
      Picture
      <input class="" type="file" name="activity[picture]" value="<%=activity.picture%>">
    </label>

    <input class="btn btn-primary" type="submit" value="Update Activity">
  </form>
</div>
