<div class="create-activity-form-container">
  <h1>Create Your Rental</h1>
  <form class="create-activity-form-css" action="<%= rental_path(rental) %>" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
    <input type="hidden" name="_method" value="patch">

    <label>
      Activity Name
      <input class="" type="text" name="rental[rental_name]" value="<%=rental.rental_name%>">
    </label>

    <label>
      Description
      <textarea class="" name="rental[description]"><%=rental.description%></textarea>
    </label>

    <label>
      Additional Info
      <textarea class="" type="text" name="rental[additional_info]"><%=rental.additional_info%></textarea>
    </label>

    <label>
      Contact Number
      <input class="" type="text" name="rental[contact_number]" value="<%=rental.contact_number%>">
    </label>

    <label>
      Contact Email
      <input class="" type="email" name="rental[contact_email]" value="<%=rental.contact_email%>">
    </label>

    <label>
      Price
      <input class="" type="text" name="rental[cost]" value="<%=rental.cost%>">
    </label>

    <label>
      Address 1
      <input class="" type="text" name="rental[addressLN1]" value="<%=rental.addressLN1%>">
    </label>

    <label>
      Address 2
      <input class="" type="text" name="rental[addressLN2]" value="<%=rental.addressLN2%>">
    </label>

    <label>
      City
      <input class="" type="text" name="rental[city]" value="<%=rental.city%>">
    </label>

    <label>
      State
      <input class="" type="text" name="rental[state]" value="<%=rental.state%>">
    </label>

    <label>
      Zipcode
      <input class="" type="text" name="rental[zipcode]" value="<%=rental.zipcode%>">
    </label>

    <label>
      Start Date
      <input class="" type="datetime-local" name="rental[start_date]" value="<%=rental.start_date%>">
    </label>

    <label>
      End Date
      <input class="" type="datetime-local" name="rental[end_date]" value="<%=rental.end_date%>">
    </label>

    <input class="btn btn-primary" type="submit" value="Create Rental">
  </form>
</div>
